@import url('https://fonts.googleapis.com/css2?family=Itim&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.container{
    background-color: white;
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.container h1::after{
    content: "";
    width: 150px;
    height: 3px;
    display: block;
    margin: 18px auto 0;
    background-color: #ff843c;
}
.container img {
    width: 200px;
}
.joke-field{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    word-wrap: break-word;
}
.btn{
    background-color:  #fc5e03;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    padding: 6px 25px;
    font-weight: 500;
    border-radius: 5px;
    transition: .3s;
}
.btn:active{
    background-color: black;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #fc5e03;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
